.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.container {
  background-color: rgb(0, 18, 18);
  min-height: 100vh;
  max-width: fit-content;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: calc(20px + 2vmin);
  min-height: 300px;
  color: red;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: calc(20px + 2vmin);
  min-height: auto;
  margin-right: 20px;
}

.dice20 {
  background-color: limegreen;
}

.dice12 {
  background-color: limegreen;
}
.dice10 {
  background-color: limegreen;
}
.dice8 {
  background-color: limegreen;
}
.dice6 {
  background-color: limegreen;
}
